.beverages-buttons {
    width:80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    border-radius: 20px;
    background-color: #FBF08F;
    height: 8em;
    margin-top: 10px;
    font-family: Poppins;
    font-weight: bold;
    color: black;
    border: none;
    cursor: pointer;
}

button {
    text-decoration: none;
    border: none;
    box-shadow: 5px 5px 5px gray;
}

a {
    text-decoration: none;
}


.beverages-back {
    color: white;
}

.beverages-img {
    width: 60px; 
    height: auto; 
    margin-left: 20px;
    border-radius: 10px;
}

.button-label {
    flex: 1;
    margin-right: 45px;
    align-items: center;
}

/* .beverages-button-content {
    align-items: center;
    display: flex;
} */