.beveragesButtons {
    width:80%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    border-radius: 20px;
    background-color: #FBF08F;
    height: 8em;
    text-align: center;
    margin-top: 10px;
    font-family: Poppins;
    font-weight: bold;
}

button {
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px gray;

}

a {
    text-decoration: none;
}

.cetegory-back-button {
    width: 1.6em;
    height: .8em;
    float: left;
    margin-top: 13.9px;
    margin-bottom: auto;
    margin-right: -1.4em;
}

.beverages-back {
    color: white;
}
