.category-header-text {
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}
.category-header {
    position: sticky;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #E96760;
    text-align: center;
    color: white;
    z-index: 1;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.categoryButtons {
    width:80%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    border-radius: 20px;
    background-color: #FF6961;
    height: 2.5em;
    text-align: center;
    margin-top: 10px;
    font-family: Poppins;
    font-weight: bold;
}

button {
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px gray;
    color: white;

}

a {
    text-decoration: none;
}
.category-back{
    color: white;
}
.categoryBottom{
    margin-bottom: 10em;
}