.product-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
.product-buttons {
    width: 100%;
    display: flex;
    font-size: 12px;
    border-radius: 20px;
    background-image: url("logochipattls.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 9em;
    max-height: 9em;
    font-family: Poppins;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid;
    border-color: black;
    margin-top: 1em;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
}
.products-back {
    color: white;
}
.products-img {
    width: 7.5em; 
    height: auto; 
    margin-left: 1em;
}
.products-label {
    flex: 1;
    align-items: center;

}
.like-container{
    height: 100%;
    font-size: 50px;
    margin-left: .5em;
}
.like-button{
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 20px;
    color: #E96760;
    text-align: center;
}
.popup-like{
        position: fixed;
        background-color: rgb(231, 255, 190);
        border-radius: 10px;
        z-index: 1000;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 18em;
        max-width: 20em;
        animation: moveFromTop 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 32em;
        left: 0;
        right: 0;
        margin: auto;
        height: 1.5em;
        border: solid;
        border-color: black;
}