.home-container{
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.home-icon {
  position: relative;
  margin: 12px 0;
  border-radius: 30px;
  height: 8.5em;
  padding-left: 2em;
  padding-right: 2em;
  font-family: Poppins;
  background-image: url("logochipattls.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-width: 100%;
  color: black;
  border: solid;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon{
  position: absolute;
  top: .6em;
  left: .25em;  
  font-size: 65px;
  color: black;
}

.home-categories{
  position: absolute;
  font-size: 39px;
  text-align: center;
  top: .45em;
  left: 2.4em;
}