.aboutUs-header-text {
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

.aboutus-sub{
    visibility: hidden;
}

.aboutUsButtons {
    background: #FF6961;
    justify-content: center;
    flex-direction: column;
    width:92%;
    color: white;
    height: 6.5em;
    display: flex;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 78.1px;
    margin-bottom: -50px;

     
}  

.aboutUsButtons:hover {
    color:#E44138;
    color:white;
    font-size: 29px;
    font-weight: bold;
    font-family: Poppins;
    text-decoration: black;
    background-color: #E44138; opacity: 80%;
    border: 1px solid #FBF08F;
    transition-duration: 0.4s;
    cursor: pointer;
}


button {
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
