/* DevInfo.css */

.devcard {
    width: 80%;
    border-radius: 15px;
    background-image: url("logochipattls.png");
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: black;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .8em;
}

.devheader {
    text-align: center;
    background: linear-gradient(to right, #f32170, #ff6b08);
    -webkit-text-fill-color: transparent; 
    background-clip: text;
}

.devcontents {
    text-align: center;
}

/* member buttons */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 8em;
}

.card {
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.card.flip {
    transform: rotateY(180deg);
}

.card-back {
    background-image: url('/public/AboutUsImages/CardBack.png');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    color: white;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
    margin-left: -.6em;
}

.card-back-contact {
    color: black;
}

.card-back-contact a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-style: italic;
}

.card-front-angelo {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: last baseline;
    text-align: center;
    color: #A52A2A;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-image: url('/public/AboutUsImages/GeloBust.png');
    background-position: center;
    background-size: cover;
    text-align: last baseline;
}

.card-front-rimuel {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: last baseline;
    text-align: center;
    color: #A52A2A;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-image: url('/public/AboutUsImages/MelBust.png');
    background-position: center;
    background-size: cover;
    text-align: last baseline;
}

.card-front-cj {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: last baseline;
    text-align: center;
    color: #A52A2A;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-image: url('/public/AboutUsImages/CJBust.png');
    background-position: center;
    background-size: cover;
    text-align: last baseline;
}

.card-front-lexter {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: last baseline;
    text-align: center;
    color: #A52A2A;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-image: url('/public/AboutUsImages/LexBust.png');
    background-position: center;
    background-size: cover;
    text-align: last baseline;
}

.card-front-jenie {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: last baseline;
    text-align: center;
    color: #A52A2A;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-image: url('/public/AboutUsImages/JenieBust.png');
    background-position: center;
    background-size: cover;
    text-align: last baseline;
}

.card-front-julianna {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: last baseline;
    text-align: center;
    color: #A52A2A;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-image: url('/public/AboutUsImages/JulieBust.png');
    background-position: center;
    background-size: cover;
    text-align: last baseline;
}

@media only screen and (max-width: 500px) {
    .devcard {
        width: 80%;
        border-radius: 15px;
        background-image: url("logochipattls.png");
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        border: solid;
        border-color: black;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .devheader {
        text-align: center;
        background: linear-gradient(to right, #f32170, #ff6b08);
        -webkit-text-fill-color: transparent; 
        background-clip: text;
    }

    .devcontents {
        text-align: center;
    }

    /* member buttons */
    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    .card {
        width: 200px;
        height: 300px;
        transform-style: preserve-3d;
        transition: transform 1s;
        cursor: pointer;
        margin-top: 1.5em;
    }

    .card-back {
        background-image: url('/public/AboutUsImages/CardBack.png');
        background-size: cover;
        background-position: center;
        transform: rotateY(180deg);
        text-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        position: absolute;
        justify-content: center;
        color: black;
        border-radius: 10px;
        border: solid;
        border-color: black;
        border-width: 5px;
        margin-left: -.6em;
    }
}
