.devinfo-header {
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #E96760;
    text-align: center;
    color: white;
    z-index: 1;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.devheader{
    text-align: center;
    background: linear-gradient(to right, #f32170, 
                    #ff6b08);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

.devcard {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: rgba(247, 206, 104, .8);
}

.devcontents {
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    perspective: 1500px;
}

.card {
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
}
  
.card.flip {
    transform: rotateY(180deg);
}

.card-back-contact {
    color: black;
}

.card-back-contact a {
    text-decoration: none;
    color: white;
}
  
.card-front-angelo, .card-back-angelo {
    width: 200px;
    height: 300px;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
}
  
.card-front-angelo {
    width: 200px;
    height: 300px;
    background-image: url('/public/AboutUsImages/try.jpg');
    background-size: cover;
    position: absolute;
    align-items: last baseline;
    text-align: center;
}

.card-back-angelo {
    width: 200px;
    height: 300px;
    background-image: url('/public/AboutUsImages/chinesepattern.png');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-front-rimuel, .card-back-rimuel {
    width: 200px;
    height: 300px;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
}
  
.card-front-rimuel {
    width: 200px;
    height: 300px;
    background-image: url('/public/AboutUsImages/try.jpg');
    background-size: cover;
    position: absolute;
    align-items: last baseline;
    text-align: center;
}

.card-back-rimuel {
    width: 200px;
    height: 300px;
    background-image: url('/public/AboutUsImages/chinesepattern.png');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-front-cj, .card-back-cj {
    width: 200px;
    height: 300px;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
}
  
.card-front-cj{
    width: 200px;
    height: 300px;
    background-image: url('/public/AboutUsImages/try.jpg');
    background-size: cover;
    position: absolute;
    align-items: last baseline;
    text-align: center;
}

.card-back-cj {
    width: 200px;
    height: 300px;
    background-image: url('/public/AboutUsImages/chinesepattern.png');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-front-lexter, .card-back-lexter {
    width: 200px;
    height: 300px;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
}
  
.card-front-lexter{
    width: 200px;
    height: 300px;
    background-image: url('/public/AboutUsImages/try.jpg');
    background-size: cover;
    position: absolute;
    align-items: last baseline;
    text-align: center;
}

.card-back-lexter {
    width: 200px;
    height: 300px;
    background-image: url('/public/AboutUsImages/chinesepattern.png');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-front-jenie, .card-back-jenie {
    width: 200px;
    height: 300px;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
}
  
.card-front-jenie{
    width: 200px;
    height: 300px;
    background-image: url('/public/AboutUsImages/try.jpg');
    background-size: cover;
    position: absolute;
    align-items: last baseline;
    text-align: center;
}

.card-back-jenie {
    width: 200px;
    height: 300px;
    background-image: url('/public/AboutUsImages/chinesepattern.png');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-front-julianna, .card-back-julianna {
    width: 200px;
    height: 300px;
    backface-visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
}
  
.card-front-julianna {
    width: 200px;
    height: 300px;
    background-image: url('/public/AboutUsImages/try.jpg');
    background-size: cover;
    position: absolute;
    align-items: last baseline;
    text-align: center;
}

.card-back-julianna {
    width: 200px;
    height: 300px;
    background-image: url('/public/AboutUsImages/chinesepattern.png');
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width:768px) {
    .devcard {
        background-color: rgba(247, 206, 104, .8);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
    }

    .devheader {
        font-size: larger;
    }

    .devcontents {
        text-align: center;
        font-size: smaller;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        perspective: 1000px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .card {
        margin-bottom: 20px;
        transform-style: preserve-3d;
        transition: transform 1s ease-in-out;
    }
}