@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

body {
  font-family: "Poppins";
  margin: 0;
}
.login-page{
    align-items: center;
    margin: 0 auto;
}
.login-title{
    text-align: center;
    font-size: 50px;
    margin-bottom: -5%;
    margin-top: .5em;
}
.login-container{
    font-family: "Poppins";
    background-image: url("logochipattls.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 5%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    justify-content: center;
    text-align: center;
}
.login-categories{
    text-align: left;
    font-size: 17px;
    margin-bottom: 0em;
    font-family: "Poppins";
}
.login-user{
    position: relative;
}
.login-mobile{
    position: relative;
}
.login-icon-mobile {
    position: absolute;
    top: 1.8em;
    left: .5em;
    font-size: 1.5em;
}
.login-p-mobile{
    position: absolute;
    top: 1.87em;
    left: 3.1em;
    font-size: 15px;
}
#login-input-mobile{
    padding-left: 80px;
    font-size: 15px;
}
.login-pass{
    position: relative;
}
.login-icon-pass {
    position: absolute;
    top: 1.8em;
    left: .5em;
    font-size: 1.5em; /* Adjust size as needed */
}
input[type="number"],
select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Poppins;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}
input[type="password"],
select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Poppins;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#login-input-pass{
    padding-left: 50px;
    font-size: 15px;
}
.login-forgot{
    text-align: center;
    font-size: 15.5px;
    text-decoration: none;
    color:#E96760
}
.login-forgot:hover{
    color: #b9524c;
    text-decoration: underline;
}
button.login-submit{
    padding: .5em;
    background-color: #E96760;
    border-radius: 5px;
    padding-left: 2.5em;
    padding-right: 2.5em;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    font-family: Poppins;
    margin-top: 1em;
}
button.login-submit:hover{
    background-color: #b9524c;
}
.login-signup{
    margin-left: 5px;
    text-decoration: none;
    color:#E96760
}
.login-signup:hover{
    color: #b9524c;
    text-decoration: underline;
}
.login-type{
    text-align: center;
    font-size: 2.5em;
    margin-top: 1.5em;
    font-weight: bold;
}

.popup {
    position: fixed;
    background-color: rgba(233,103,96);
    border-radius: 10px;
    z-index: 1000;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 18em;
    max-width: 20em;
    animation: moveFromTop 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 32em;
    left: 0;
    right: 0;
    margin: auto;
    height: 1.5em;
    border: 2px solid rgb(255, 80, 71); 
    box-shadow: 0 4px 8px rgba(0, 0, 0,); 
}
.popup-text{
    color: white;
}
.ekis{
    font-size: 2em;
    position: absolute;
    margin-left: -7.3em;
    margin-top: -.1em;
    color: white
}
.ekisR{
    font-size: 2em;
    position: absolute;
    margin-top: -.1em;
    margin-left: 7.3em;
    color: white
}
