.profile-container{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .5em;
    margin-bottom: 5em;
}

.profile-icon {
    display: block;
    margin: auto;
    justify-content: center;
    height: 145px;
    width: 145px;
    margin-top: 1em;
}

.profile-btn {
    position: relative;
    margin: 12px 0;
    border-radius: 30px;
    height: 6.5em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: Poppins;
    background-image: url("logochipattls.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 100%;
    color: black;
    border: solid;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
.profile-categories{
    position: absolute;
    font-size: 29px;
    text-align: center;
    top: 0.5em;
    left: 3em;
}
.profile-btn-icon{
    position: absolute;
    top: .3em;
    left: .2em;  
    font-size: 65px;
    color: black;
}
.profile-name{
    text-align: center;
    margin-bottom: -.1em;
    margin-top: 0em;
}
#profile-marg{
    margin-bottom: 2em;
}
.info-title{
    position: relative;
    text-align: center;
}
.info-btn{
    position: relative;
    margin: 12px 0;
    border-radius: 30px;
    padding-left: 2em;
    padding-right: 2em;
    font-family: Poppins;
    background-image: url("logochipattls.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 100%;
    color: black;
    border: solid;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
.info-categories{
    margin-bottom: -1em;
}
.info-edit{
    padding: .5em;
    background-color: #E96760;
    border-radius: 5px;
    padding-left: 2.2em;
    padding-right: 2.2em;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: 1em;
    font-family: Poppins;
}
.info-pass{
  padding: .5em;
  background-color: #E96760;
  border-radius: 5px;
  padding-left: 1.8em;
  padding-right: 1.8em;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
  margin-bottom: 1em;
  font-family: Poppins;
}








/*Modal CSS*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #edit-input{
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  #edit-input-num{
    padding-left: 3.3em;
    font-size: 15px;
  }
  .modal-container {
    position: relative;
    margin: 12px 0;
    border-radius: 30px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-family: Poppins;
    max-width: 100%;
    color: black;
    border: solid;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    background-image: url("logochiprofls.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #E96760;
    box-shadow: none;
  }
  
  .modal-content {
    margin-top: 20px;
  }
  .modal-title{
    text-align: center;
  }
  .button-container{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
  }
  .modal-submit{
    padding: .5em;
    background-color: #E96760;
    border-radius: 5px;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: 1em;
    font-family: Poppins;
  }
  .modal-num{
    position: absolute;
    top: 22.97em;
    left: 2.8em;
    font-size: 15px;
  }
  #edit-input-pass{
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .info-popup { 
    position: fixed;
    background-color: rgba(233,103,96);
    border-radius: 10px;
    z-index: 1000;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 20em;
    max-width: 26em;
    animation: moveFromTop 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 32em;
    left: 0;
    right: 0;
    margin: auto;
    height: 1.5em;
    border: 2px solid rgb(255, 80, 71); 
    box-shadow: 0 4px 8px rgba(0, 0, 0,); 
  
} 
.info-ekis-pass{
    font-size: 2em;
    position: absolute;
    margin-left: -8.5em;
    margin-top: -.1em;
    color: white
}
.info-ekis-passR{
    font-size: 2em;
    position: absolute;
    margin-top: -.1em;
    margin-left: 8.4em;
    color: white
}
.ekis{
    font-size: 2em;
    position: absolute;
    margin-left: -7.3em;
    margin-top: -.1em;
    color: white
}
.ekisR{
    font-size: 2em;
    position: absolute;
    margin-top: -.1em;
    margin-left: 7.3em;
    color: white
}
.info-popup-success {
    position: fixed;
    background-color: rgb(231, 255, 190);
    border-radius: 10px;
    z-index: 1000;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 18em;
    max-width: 20em;
    animation: moveFromTop 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 32em;
    left: 0;
    right: 0;
    margin: auto;
    height: 1.5em;
    border: 2px solid rgb(210, 255, 133); 
    box-shadow: 0 4px 8px rgba(0, 0, 0,); 
}
.success-text{
    color: black;
}
.info-check{
    font-size: 2em;
    position: absolute;
    margin-left: -7.3em;
    margin-top: -.1em;
}
.info-checkR{
    font-size: 2em;
    position: absolute;
    margin-top: -.1em;
    margin-left: 7.3em;
}
  