.profile-container{
    display: flex;
    flex-direction: column;
}

.profile-icon {
    display: block;
    margin: auto;
    justify-content: center;
    height: 145px;
    width: 145px;
}

.profile-btn {
    position: relative;
    margin: 12px 0;
    border-radius: 20px;
    height: 3.5em;
    font-family: Poppins;
    background-color: #FCF3A6;
    max-width: 100%;
    color: black;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 35px;
}

.profile-btn-icon-left {
    height: 100%;
}

.profile-categories {
    padding: 8.5% 0%;
}

.profile-btn-icon-right {
    height: 100%;
}