@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

body {
  font-family: "Poppins";
  margin: 0;
}
.signup-header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.signup-page{
    align-items: center;
    margin: 0 auto;
}
.signup-title{
    text-align: center;
    font-size: 50px;
    margin-bottom: -5%;
    margin-top: .5em;
}
.signup-container{
    font-family: "Poppins";
    background-image: url("logochipattls.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 5%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
}
.signup-categories{
    text-align: left;
    font-size: 17px;
    margin-bottom: 0em;
    font-family: "Poppins";
}
.signup-user{
    position: relative;
}
.signup-icon-user {
    position: absolute;
    top: .6em;
    left: .5em;
    font-size: 1.5em;
}
input[type="text"],
select {
    width: 100%;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Poppins;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}
#signup-input-user{
    padding-left: 50px;
    font-size: 15px;
}
.input-uppercase{
    text-transform: uppercase;
}
.signup-mobile{
    position: relative;
}
.signup-icon-mobile {
    position: absolute;
    top: .7em;
    left: .5em;
    font-size: 1.5em;
}
.signup-p-mobile{
    position: absolute;
    top: .15em;
    left: 3.1em;
    font-size: 15px;
}
input[type="number"],
select {
    width: 100%;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Poppins;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#signup-input-mobile{
    padding-left: 80px;
    font-size: 15px;
}
.signup-pass{
    position: relative;
}
.signup-icon-pass {
    position: absolute;
    top: .65em;
    left: .5em;
    font-size: 1.5em;
}
input[type="password"],
select {
    width: 100%;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Poppins;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}
#signup-input-pass{
    padding-left: 50px;
    font-size: 15px;
}
.signup-health{
    position: relative;
}
.signup-icon-health {
    position: absolute;
    top: .65em;
    left: .5em;
    font-size: 1.5em;
}
#signup-input-health{
    padding-left: 50px;
    font-size: 15px;
}
.signup-low{
    text-align: center;
    font-size: 15.5px;
    text-decoration: none;
}
.signup-submit{
    padding: .5em;
    background-color: #E96760;
    border-radius: 5px;
    padding-left: 2.5em;
    padding-right: 2.5em;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: 1em;
    font-family: Poppins;
}
.signup-submit:hover{
    background-color: #b9524c;
}
.signup-login{
    margin-left: 5px;
    text-decoration: none;
    color:#E96760;
    text-align: center;
}
.signup-login:hover{
    color: #b9524c;
    text-decoration: underline;
}

/* same with login.js and info.js */
.popup { 
    position: fixed;
    background-color: rgba(233,103,96);
    border-radius: 10px;
    z-index: 1000;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 18em;
    max-width: 20em;
    animation: moveFromTop 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 32em;
    left: 0;
    right: 0;
    margin: auto;
    height: 1.5em;
    border: 2px solid rgb(255, 80, 71); 
    box-shadow: 0 4px 8px rgba(0, 0, 0,); 
}
.popup-text{
    color: white;
}
.ekis-pass{
    font-size: 2em;
    position: absolute;
    margin-left: -7.3em;
    margin-top: -.1em;
    color: white
}
.ekis-passR{
    font-size: 2em;
    position: absolute;
    margin-top: -.1em;
    margin-left: 7.3em;
    color: white
}
.ekis{
    font-size: 2em;
    position: absolute;
    margin-left: -7.3em;
    margin-top: -.1em;
    color: white
}
.ekisR{
    font-size: 2em;
    position: absolute;
    margin-top: -.1em;
    margin-left: 7.3em;
    color: white
}
.popup-success {
    position: fixed;
    background-color: rgb(231, 255, 190);
    border-radius: 10px;
    z-index: 1000;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 18em;
    max-width: 20em;
    animation: moveFromTop 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 32em;
    left: 0;
    right: 0;
    margin: auto;
    height: 1.5em;
}
.success-text{
    color: black;
}
.signup-check{
    font-size: 2em;
    position: absolute;
    margin-left: -7.3em;
    margin-top: -.1em;
}
.signup-checkR{
    font-size: 2em;
    position: absolute;
    margin-top: -.1em;
    margin-left: 7.3em;
}
.butt{
    justify-content: center;
}
button.illness-button {
    background-color: transparent;
    justify-content: center;
    box-shadow: none;
    font-family: Poppins;
    color: #b9524c;
    margin: 0 auto;
    margin-bottom: 1em;
}
@keyframes moveFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

.illness-container{
    font-family: "Poppins";
    background-image: url("logochipattls.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 5%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
}
.illness-categories{
    margin-bottom: 0em;
}
.illness-health{
    position: relative;
}
.illness-icon-health{
    position: absolute;
    top: .6em;
    left: .5em;
    font-size: 1.5em;
}
#illness-input-health{
    padding-left: 50px;
    font-size: 15px;
    margin-bottom: 1em;
}
#illness-input-health3{
    padding-left: 50px;
    font-size: 15px;
    margin-bottom: 1.1em;
}
